extends ./layout.pug
block content
    h1 Order Delecious Food
    p ‘Restaurant name’ menu offers a large variety of food and pizzas to satisfy all tastes. We are committed to providing our guests with the most flavorful and freshest food. Visit us and treat yourself to our pleasant and appetizing food.
        img(src='/img/' + hero.image)