extends ./layout.pug
block content
    h1 Order Delecious Food
    p This Restaurant project is just for practice
        div.hero-container
            img(src='/img/' + restaurant-hero.image)
            h3=hero.name
  