extends ./layout.pug

block content
    h1 Order Delecious Food
    p This Restaurant project is just for practice
    each menu in menus
    div.menu-container
        img(src='/img/' + menu.image)
        h3= menus.name