extends ./layout.pug
block content
    h1 Our Menu
    p ‘Restaurant name’ menu offers a large variety of food and pizzas to satisfy all tastes. We are committed to providing our guests with the most flavorful and freshest food. Visit us and treat yourself to our pleasant and appetizing food.
    each menu in menus
        div.menu-container
            img(src='/img/' + menu.image)
            h3= menus.name